<header class="main-header">
    <div class="main-header-content">
            <h1 class="page-title hidden">{{@blog.title}}</h1>
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" width="200" height="200"/></a>{{/if}}
            <h2 class="page-description">{{@blog.description}}</h2>

    </div>
    <nav class="main-nav">
        <ul>
            <li class="nav-item">
            <a href="/"><h2>Work</h2></a>
            <div id="filters" class="button-group" data-tags="{{#foreach posts}}{{#foreach tags}}{{name}} {{/foreach}}{{/foreach}}">
                <button type="button" data-filter="*">Show All</button>
            </div>
            </li>
        </ul>
    </nav>
</header>